doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= process.env.APP_NAME

  body
    #app-root
    script(src='./index.js')
