<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.webgo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Web GO</name>
    <description>
        A boilerplate for Cordova, Material, Firebase, Gulp, Rollup, Babel, PostHTML, and PostCSS.
    </description>
    <icon src="res/icon.png" />
    <author email="shyamchen1994@gmail.com" href="https://github.com/Shyam-Chen/">
        Yen-cheng Chen, 陳彥澄
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-firebase" spec="^0.1.21" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
