localhost:8000 {
  encode gzip
  root * ./dist
  try_files {path} /index.html
  file_server browse

  header {
    Strict-Transport-Security max-age=31536000
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
  }
}
