:8001 {
  encode gzip
  root * /usr/share/caddy/dist
  try_files {path} /index.html
  file_server browse

  header {
    Access-Control-Allow-Origin http://localhost:8000
    Strict-Transport-Security max-age=31536000
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
  }
}
