:3000 {
  @koa {
    header Host localhost:3001
  }

  @express {
    header Host localhost:3002
  }

  @nest {
    header Host localhost:3003
  }

  @fastify {
    header Host localhost:3004
  }

  route {
    reverse_proxy @koa localhost:3001
    reverse_proxy @express localhost:3002
    reverse_proxy @nest localhost:3003
    reverse_proxy @fastify localhost:3004
    respond "app-gateway"
  }
}
